.story {
    width: 75%;
    margin: 0 auto;
    box-shadow: 0 3rem 6rem rgba($color-black, .1);
    background-color: rgba($color-white, .6);
    border-radius: 3px;
    padding: 3rem;
    padding-left: 6rem;
    font-size: $default-font-size;
    transform: skewX(-12deg);
    @include respond(tab-port) {
        width: 100%;
        padding: 1rem;
        padding-left: 4rem;
    }
    @include respond(phone) {
        transform: skewX(0);
    }

    & > * {
        transform: skewX(12deg);
    }

    &__shape {
        width: 15rem;
        height: 15rem;
        float: left;
        transform: translateX(-3rem) skewX(12deg);
        position: relative;
        overflow: hidden;
        border-radius: 50%;
        /*supports query used to check whether property support or not*/
        @supports ((-webkit-shape-outside: circle(10% at 0 0)) or (shape-outside: circle(10% at 0 0))) {
            -webkit-shape-outside: circle(50% at 50% 50%);
            shape-outside: circle(50% at 50% 50%);
        }

        @supports ((-webkit-clip-path: circle(10% at 0 0)) or (clip-path: circle(10% at 0 0))) {
            -webkit-clip-path: circle(50% at 50% 50%);
            clip-path: circle(50% at 50% 50%);
            border-radius: none;border-radius: none;
        }

        @include respond(phone) {
            transform: translateX(-3rem) skewX(0);
        }
    }
    &__img {
        height: 100%;
        transform: translateX(-4rem) scale(1.4);
        backface-visibility: hidden;
        transition: all .5s;
    }
    &__text {
        transform: skewX(12deg);
        @include respond(phone) {
            transform: skewX(0);
        }

    }
    &__caption {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 20%);
        color: $color-white;
        text-transform: uppercase;
        font-size: 1.7rem;
        text-align: center;
        opacity: 0;
        transition: all .5s;
        backface-visibility: hidden;
    }
    &:hover &__caption {
        opacity: 1;
        transform: translate(-50%, -50%);
    }
    &:hover &__img {
        opacity: 1;
        transform: translateX(-4rem);
        filter: blur(3px) brightness(80%);
    }
}
