/*universal selector*/

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    /*if you want size=10px and let x=16px default them % : (10/16)*100=0.625*100=62.5%*/
    /* now 1rem = 10px */
    @include respond(tab-land) {
        font-size: 56.25%; //1rem=9px ,9/16=56.25%  width<1200
    }
    @include respond(tab-port) {
        font-size: 50%; //1rem=8px ,8/16=50%  width<900
    }

    /*
    @include respond-phone{
        font-size: 30%;  //1rem=4.8px ,4.8/16=30% width<600
    }
*/
    @include respond(big-desktop) {
        font-size: 75%; //1rem=12px ,12/16=75% width>1800
    }
}

body {
    box-sizing: border-box;
    padding: 1.5rem;

    @include respond(tab-port) {
        padding: 0;
    }
}

::selection{
    background-color: $color-primary;
    color: $color-white;
}